#botoes-acessibilidade-extra {
  position: fixed;
  top: 180px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 9999;
}

#botoes-acessibilidade-extra button {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  background-color: #465eff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

#botoes-acessibilidade-extra button img {
  width: 26px;
  height: 26px;
  filter: brightness(200%);
}