body {
  font-family: "Calibri", sans-serif;
  background-color: #465eff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ====== HEADER ====== */
.header,
.footer {
  background-color: #465eff;
  color: white;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #465eff;
}

.header img {
  height: 60px;
  position: relative;
  right: 40%;
}
#botoes-acessibilidade-extra {
  position: fixed;
  top: 180px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 9999;
}

#botoes-acessibilidade-extra button {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  background-color: #465eff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

#botoes-acessibilidade-extra button img {
  width: 26px;
  height: 26px;
  filter: brightness(200%);
}
/* ====== MAIN CONTENT ====== */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.auth-card {
  padding: 40px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  color: white;
  margin-bottom: 10px;
}

p {
  color: white;
  margin-bottom: 25px;
  font-size: 15px;
}

/* ====== INPUT CÓDIGOS ====== */
.code-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.code-inputs input {
  width: 45px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

/* ====== LINKS ====== */
.links {
  text-align: right;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
  position: relative;
  left: 1%;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}

.change-method {
  text-decoration: underline;
  color: white  ;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-bottom: 25px;
  cursor: pointer;
  position: relative;
  left: 26%;
}

/* ====== BOTÃO ====== */
.confirm-btn {
  background-color: #fcfc30;
  color: #465eff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.confirm-btn:hover {
  background-color: #fcfc30;
}

/* ====== FOOTER ====== */
.footer {
  font-size: 14px;
  color: white;
  border-top: 1px solid #465eff;
  position: relative;
  right: 30%;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}
